doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title NYAN.STREAM / API-панель

		link(rel='shortcut icon' href='https://favicon.yandex.net/favicon/nyan.stream')

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic')

		link(rel='stylesheet' href='/assets/css/panel.css')

	body

		header.header
			h1 NYAN.STREAM / Панель

		main.panel
			p.hello Добро пожаловать, #{PANEL.user.name}.

			form(method='post')
				include inc/forms/add-air.pug
			form(method='post')
				include inc/forms/rm-air.pug

			if PANEL.user.status == 'admin'
				form(method='post')
					include inc/forms/expired-clear.pug
				form(method='post')
					include inc/forms/noti.pug

		footer.footer
			p Панель управления API v#{VERSION}

			p Московское время на сервере: #[span(data-ts='current')]

			p Последнее обновление расписания: #[span(data-ts='sched')]
			p Последнее обновление оповещения: #[span(data-ts='noti')]

		each JS in [{ file: `moment.js/${LIBS.js.moment.v.same}/moment.min.js`, sri: LIBS.js.moment.sri.same }, { file: `moment.js/${LIBS.js.moment.v.same}/locale/ru.js`, sri: LIBS.js.moment.sri.locale }, { file: `moment-timezone/${LIBS.js.moment.v.timezone}/moment-timezone-with-data.min.js`, sri: LIBS.js.moment.sri.timezone }]
				script(src=`https://cdnjs.cloudflare.com/ajax/libs/${JS.file}` integrity=`${JS.sri}` crossorigin='anonymous' defer)

		script(src='/assets/js/panel.js' defer)
